@import url("../color-scheme.css");

.container {
  display: flex;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  background: var(--background);
  margin-top: 24px;
  padding: 12px;
}

/* .panel { */
/*   border-bottom: 2px solid var(--text); */
/* } */

.side-wrapper {
  margin-left: 24px;
  margin-top: 24px;
  padding: 12px;
  background: var(--background);
  width: 30%;
  min-height: 100vh;
}

.side-wrapper h1 {
  width: 100%;
  font-size: 24px;
  text-align: center;
  color: var(--text);
  margin-bottom: 26px;
}
.panel h1 {
  font-size: 36px;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-header button {
  width: 100px;
  height: 30px;
  outline: none;
  border: 1px solid var(--text);
  background: var(--background);
  cursor: pointer;
}
.panel-info {
  display: flex;
  gap: 24px;
  font-size: 24px;
  margin: 24px 0;
}

.form-container {
  width: 100%;
  border-top: 2px solid var(--text);
  margin-top: 24px;
  padding-top: 24px;
}

.label {
  color: var(--text);
  font-size: 24px;
}

.radio-group {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.radio-group div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio-group input {
  width: 24px;
  height: 24px;
}

.radio-group label {
  color: var(--text);
  font-size: 24px;
}

.description-container {
  margin-top: 32px;
}

.description-container textarea {
  margin-top: 24px;
  width: 100%;
  height: 230px;
  font-size: 16px;
  padding: 24px;
  resize: none;
  background: var(--background);
}

.action-btns {
  height: 100px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.btn-submit {
  width: 330px;
  height: 60px;
  border: none;
  outline: none;
  background: var(--primary);
  color: var(--background);
  cursor: pointer;
}

.btn-cancel {
  width: 330px;
  height: 60px;
  border: none;
  outline: none;
  background: #f00;
  color: #fff;
  cursor: pointer;
}

.arlet {
  width: 100%;
  height: 60px;
  margin-top: 24px;
}

.arlet p {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #f00;
}
